git/

# Ambiente e variáveis sensíveis
.env

# Dependências PHP
/vendor/

# Logs
logs/
*.log

# Arquivos do VSCode
.vscode/

# Cache, builds ou arquivos temporários
*.cache
*.tmp

# Node (caso esteja usando npm para assets front-end)
node_modules/
dist/

# SO/macOS
.DS_Store

# PHPUnit
phpunit.result.cache

# Adições automáticas
.env.*
!.env.example
/tmp/*
!/tmp/.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/logs/*
!/logs/.gitkeep
/public/assets/build/*
!/public/assets/build/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/.idea/
/.vscode/
*.code-workspace
/nbproject/
.phpunit.result.cache
*.sql
*.sqlite
composer.phar
/.phpunit.cache/
/node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
Thumbs.db

*.lock