<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  <!-- Home -->
  <url>
    <loc>https://discursivamente.com.br/</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>1.0</priority>
  </url>

  <!-- Cursos Públicos -->
  <url>
    <loc>https://discursivamente.com.br/courses</loc>
    <lastmod>2025-05-20</lastmod>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/courses/{courseId}</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/courses/{courseId}/modules</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/courses/{courseId}/modules/{moduleId}/material/{entryId}</loc>
    <lastmod>2025-05-15</lastmod>
    <priority>0.5</priority>
  </url>

  <!-- Eventos -->
  <url>
    <loc>https://discursivamente.com.br/events</loc>
    <lastmod>2025-05-18</lastmod>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/events/{id}</loc>
    <lastmod>2025-05-18</lastmod>
    <priority>0.5</priority>
  </url>

  <!-- Páginas estáticas -->
  <url>
    <loc>https://discursivamente.com.br/about</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>0.4</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/terms</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>0.4</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/contact</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>0.4</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/cookies</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>https://discursivamente.com.br/privacy</loc>
    <lastmod>2025-05-22</lastmod>
    <priority>0.3</priority>
  </url>

</urlset>
