RewriteEngine On
# Se o arquivo ou pasta realmente existir, o Apache o serve diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Caso contrário, redireciona a requisição para o index.php
RewriteRule ^ index.php [L]
