{% extends 'layouts/base.twig' %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/pages/curso/material.css">
{% endblock %}

{% block content %}
<div class="materials-container">
  <h1>Materiais Disponíveis</h1>
  <ul>
    {% for material in materiais %}
      <li>
        <a href="/curso/{{ courseId }}/materiais/{{ material.id }}">Ver Material</a>
      </li>
    {% endfor %}
  </ul>
  <a href="/curso/{{ courseId }}" class="btn-back">← Voltar ao Curso</a>
</div>
{% endblock %}
