<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Discursivamente{% endblock %}</title>

    {# CSS global #}
    <link rel="stylesheet" href="/assets/css/global.css">
    {# CSS do header (agora carregado antes de tudo) #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/logo/favicon.ico" type="image/x-icon">
    {% block styles %}{% endblock %}
</head>
<body>

    {% include 'layouts/partial/header.twig' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'layouts/partial/footer.twig' %}

    {# JS global #}
    <script src="/assets/js/global.js"></script>
    {% block scripts %}{% endblock %}

    {# VLibras Plugin para acessibilidade em Libras #}
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>
</html>
